header {
    height: 100px;
    width: 100%;
    display: flex;
}

* {
    font-family: century;
    margin: 0px;
    padding: 0px;
}

#logo {
    margin-left: 40px;
}

#liens {
    font-size: 150%;
    margin-left: 40px;
    margin-top: 20px;
}

a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    color: black;
}

li {
    text-decoration: none;
}

#recherche {
    height: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(https://static.tacdn.com/img2/brand/home/homemar2022_dt_trans.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#bar {
    padding-top: 15vh;
    max-width: 760px;
    min-width: 400px;
    width: 47%;
    position: relative;
    margin: 0 auto;
}

.c012 {
    height: 44px;
    opacity: 1;
    position: relative;
    visibility: visible;
}

.c0111 {
    min-width: 0;
}

.c012 {
    height: 44px;
    opacity: 1;
    position: relative;
    visibility: visible;
}

.c0124 {
    width: 100%;
    border: transparent;
    height: 44px;
    border-radius: 4px;
    background: #ffffff;
}

.c0112 {
    margin: 0;
    display: flex;
    position: relative;
    min-width: 92px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    flex-direction: row;
}

.c018 {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0px 0.3px 0.9px rgb(0 0 0 / 12%), 0px 1.6px 3.6px rgb(0 0 0 / 12%);
    transition: all 0.2s ease-in-out;
    flex-direction: row;
    border-radius: 4px;
}

#head1 {
    margin-top: 450px;
    position: absolute;
    height: 150px;
    width: 100%;
    background-image: url(captio.jpg);
    padding-top: 300px;
    background-position: center;
    color: white;
}

h1 {
    margin-left: 50px;
}

h3 {
    margin-left: 50px;
}

.uk {
    margin-top: 950px;
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: rgb(214, 208, 208);
    display: flex;
    padding-top: 40px;
}

.dra {
    position: absolute;
    height: 200px;
    width: 600px;
    padding-top: 40px;
    padding-left: 200px;
}

#bleu {
    background-color: blue;
    height: 100px;
    width: 300px;
}

#jaune {
    background-color: yellow;
    height: 100px;
    width: 300px;
}

#tex {
    padding-top: 30px;
    height: 200px;
    width: 450px;
    position: absolute;
    right: 70px;
    text-align: center;
}

#gallery {
    margin-top: 1350px;
    position: absolute;
    height: 300px;
    width: 100%;
    display: flex;
    padding-top: 40px;
}

.pto {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

#pto1 {
    display: block;
    width: 280px;
    background-image: url(marseille.jpg);
    height: 260px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    background-size: cover;
    background-position: center;
}

#pto2 {
    display: block;
    width: 280px;
    background-image: url(seville.jpg);
    height: 260px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    background-size: cover;
    background-position: center;
}

#pto3 {
    display: block;
    width: 280px;
    background-image: url(caption.jpg);
    height: 260px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    background-size: cover;
    background-position: center;
}

#pto4 {
    display: block;
    width: 280px;
    background-image: url(beautiful-bent-tree-along.jpg);
    height: 260px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    background-size: cover;
    background-position: center;
}

#gagn {
    margin-top: 1750px;
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: #014f41;
    display: flex;
    padding-top: 20px;
}

#footer_div2 {
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
}

footer ul li {
    list-style-type: none;
    padding: 1, 5px;
}


/* ****************************************************************************************** */

.soutenez-action {
    display: flex;
    margin-top: 20px;
    /* justify-content: space-between; */
    width: 90%;
    margin: 50px auto;
    background-color: #f2f1ec;
    height: 500px;
    text-align: center;
}

.soutenez-action img {
    position: relative;
    top: 40px;
    left: 20px;
}

.soutenez-action-droite {
    padding: 10px 35px;
    position: relative;
    top: 40px;
    left: 100px;
}

.soutenez-action-droite p {
    font-size: 16px;
    line-height: 1.3em;
}

.soutenez-action-droite h2 {
    margin-top: 20px;
}

.soutenez-action-droite button {
    padding: 10px 15px;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    margin-top: 20px;
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.experiences h2 {
    margin-left: 40px;
}

.grille-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2px;
    padding: 0px 40px;
    margin-top: 30px;
}

.grille-images p {
    font-weight: bold;
    font-size: 20px;
}

.grille-images img {
    width: 300px;
}

.grille-images button {
    padding: 2px 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #fff;
    border: 1px solid black;
}

.marseille {
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/33/f7/4a/marseille.jpg?w=600&h=600&s=1);
    background-size: contain;
    height: 220px;
    position: relative;
}

.paris {
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/c5/7c/68/caption.jpg?w=800);
    background-size: contain;
    position: relative;
    background-color: rgba(0, 0, 0, 0.932);
}

.seville {
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/33/f7/95/seville.jpg?w=600&h=600&s=1);
    background-size: contain;
    position: relative;
}

.naples {
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/e4/f4/e5/beautiful-bent-tree-along.jpg?w=600&h=600&s=1);
    background-size: cover;
    position: relative;
}

.deuxieme img {
    /* width: 50px; */
    column-gap: 10px !important;
}

.deuxieme h2 {
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
}

.cadre {
    display: flex;
    justify-content: space-around;
    background-color: #014f41;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-travellers {
    width: 80px;
    position: relative;
    left: 100px;
}

.cadre h2 {
    color: #fff;
    font-size: 30px;
    position: relative;
    left: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.travellers {
    padding-top: 30px;
}

.winners {
    padding: 10px 15px;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    background-color: #000;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    left: 60px;
}

.evadez {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 200px;
    padding: 10px 15px;
    margin: 50px 40px;
}

.text-evadez {
    /* height: 100px; */
    background-color: #faf1ed;
    padding-top: 30px;
    padding-left: 20px;
}


/* .evadez img {
    width: 300px;
} */

.img-evadez {
    /* height: 400px; */
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/f7/1d/4d/caption.jpg?w=1000&h=-1&s=1);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.evadez h2 {
    margin-top: 30px;
}

.evadez button {
    margin-top: 30px;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
}

.under-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
}

.under-header button {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #000;
    width: 200px;
    height: 80px;
    font-weight: bold;
    margin-right: 5px;
}